/* Estilos personalizados */
body {
    background-color: #ede9d6;
}

header {
    background-color: #ede9d6;
}

footer {
    background-color: #000000;
}


.text-white:hover {
    color: #d1d5db; /* Color gris claro para hover */
}

button:focus {
    outline: none; /* Quitar outline de botones al hacer clic */
}

#menu-btn {
    cursor: pointer;
}

/* Ajuste para el menú desplegable en móviles */
#mobile-menu {
    border-top: 1px solid #e5e7eb; /* Color de borde */
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.fade-out {
    opacity: 1;
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Iconos de redes sociales */
footer .fab, 
footer .fas {
    color: #ffffff;
    transition: color 0.3s;
}

footer .fab:hover, 
footer .fas:hover {
    color: #d1d5db; /* Cambiar color a gris claro al pasar el mouse */
}