/* Estilos personalizados */
body {
    background-color: #ede9d6;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #ede9d6;
}

.Font-mentorias{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

footer {
    background-color: #000000;
}


.text-white:hover {
    color: #d1d5db; /* Color gris claro para hover */
}

button:focus {
    outline: none; /* Quitar outline de botones al hacer clic */
}

#menu-btn {
    cursor: pointer;
}

/* Estilos del marco para el video */
.video-container {
    background-color: #000000;
    position: relative; 
    max-width: 100%;
    padding-bottom: 40%;
    padding-left: 70%;
    padding-top: 0%;
    padding-right: 0%; /* Proporción cuadrada (1:1) */
    border: 5px solid #ddd; /* Color del marco */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para efecto de profundidad */
    margin: 0 auto; /* Centrado en pantallas pequeñas */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px; /* Para ajustar al marco redondeado */
}

/* Ajustar el video para que mantenga la proporción cuadrada 
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 50%;
    padding-left: 20%;
    padding-top: 0%;
    padding-right: 0%; /* Proporción cuadrada (1:1) 
    height: 0;
    overflow: hidden;
    max-width: 500px; /* Tamaño máximo del video en pantallas pequeñas 
    margin: 0 auto; /* Centramos el contenedor del video
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Ajuste para el menú desplegable en móviles */
#mobile-menu {
    border-top: 1px solid #e5e7eb; /* Color de borde */
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.fade-out {
    opacity: 1;
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Estilos para la imagen de WhatsApp fija */
.whatsapp-fixed {
    position: fixed;
    bottom: 20px;  /* Ajusta la distancia desde la parte inferior */
    right: 20px;   /* Ajusta la distancia desde el lado derecho */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.whatsapp-icon {
    width: 60px;   /* Tamaño del ícono */
    height: 60px;
    border-radius: 50%;  /* Hace que el ícono sea circular */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);  /* Añade una sombra para mayor visibilidad */
    transition: transform 0.3s;  /* Efecto de transición para la animación */
}
  
.whatsapp-icon:hover {
    transform: scale(1.1);  /* Aumenta el tamaño al pasar el cursor */
}

/* Iconos de redes sociales */
footer .fab, 
footer .fas {
    color: #ffffff;
    transition: color 0.3s;
}

footer .fab:hover, 
footer .fas:hover {
    color: #d1d5db; /* Cambiar color a gris claro al pasar el mouse */
}